@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'kosugi_maru';
  src: url('/fonts/kosugi_maru/KosugiMaru-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Kosugi Maru', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
