@charset "utf-8";

@import 'tailwindcss' source('../app');

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.kosugi-maru-regular {
  font-family: "Kosugi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'kosugi_maru';
  src: url('/fonts/kosugi_maru/KosugiMaru-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trs_million';
  src: url('/fonts/trs-million/trs-million.regular.otf') format('opentype');
}

body {
  padding: 50px;
  letter-spacing: 5px;
  line-height: 35px;
  font-size: 25px;
  font-weight: bold;
  font: 25px 'Kosugi Maru', "Lucida Grande", Helvetica, Arial, sans-serif;

  --background-body: #f9f9f9;
  --background-alt: #eeeeee;
  --text-strong: #222222;
  --text-main: #444444;
  --text-muted: #888888;
  --accent: lightseagreen;
  --focus: #4a8aa1;
  --visited: violet;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-body: #444444 !important;
    --background-alt: #222222 !important;
    --text-strong: #ffffff !important;
    --text-main: #eeeeee !important;
    --text-muted: #aaaaaa !important;
    --accent: #d7d742 !important;
    --focus: #797909 !important;
    --visited: #eeeeee !important;
  }
}

body {
  font-family: 'Kosugi Maru', serif !important;
  margin: 0 !important;
  background-color: var(--background-body) !important;
  color: var(--text-main) !important;
}

.kosugi_maru {
  font-family: 'kosugi_maru' !important;
}

.count-num {
  font-family: trs_million;
}

h1,
h2,
h3,
strong {
  color: var(--text-strong);
}

small {
  color: var(--text-muted);
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--focus);
}

a:visited {
  color: var(--visited);
}

a:visited:hover {
  color: var(--focus);
}

ul li {
  line-height: 2rem;
}

hr {
  border: 1px dashed var(--accent);
}

.Footer {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background-color: var(--background-alt);
  margin-top: 2rem;
}

.logo-image {
  width: 100px;
  height: 25px;
}

.git-logo-image {
  width: 80px;
  height: 22px;
}

.simple-flex {
  display: flex;
}

.gap-flex {
  display: flex;
  gap: 20px 10px;
}

.gap-flex-logo {
  display: flex;
  gap: 0 5px;
}

.justify-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column-flex {
  display:flex;
  flex-flow: column;
}
