@charset "utf-8";

@import 'tailwindcss' source('../app');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

html, body {
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #1a202c;
}

html[lang="ja"] body {
  font-family: 'Kosugi Maru', 'Noto Sans Devanagari', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html[lang="ne"] body {
  font-family: 'Noto Sans Devanagari', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
  font-family: 'Noto Sans Devanagari', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-weight: 600 !important;
}

.mobile-menu-dropdown {
  max-height: calc(100vh - 70px); /* Navbarの高さ分を引く (仮に70pxとする) */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* iOSでの慣性スクロール */
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

a:hover {
  border-bottom-color: green;
}

.no-underline {
  text-decoration: none !important;
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
